.header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #1d2126;
}

nav {
  line-height: 43px;
}

.menu {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  overflow: auto;
}

.menu li {
  margin: 5px;
}

.menu li a {
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.menu li:hover a {
  border-color: #5b6168;
  cursor: pointer;
}

.menu li:active a {
  border-color: #23b7a4;
  color: #23b7a4;
}

.search-bar {
  display: none;
}

/* tablet - sm - */
@media (min-width: 768px) {
  .search-bar {
    display: flex;
    align-items: center;
    border: 2px solid #5b6168;
    border-radius: 5px;
    padding: 5px;
  }

  .search-bar input {
    background: none;
    border: none;
    width: 90%;
    caret-color: #5b6168;
  }

  .search-bar input:focus {
    outline: none;
  }

  ::placeholder {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #a4aead;
  }

  .search-bar-icon {
    background: url(images/search.png) no-repeat center;
    height: 15px;
    width: 20px;
    margin: 0 12px;
  }
}

/* only mobile block */
@media (max-width: 767px) {
  .nav-mobile-menu {
    width: 15px;
    height: 15px;
    position: relative;
    z-index: 2;
  }

  .nav-mobile-menu span {
    height: 1px;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #fff;
    transition: 0.25s ease-in-out;
  }

  .nav-mobile-menu span:nth-child(1) {
    top: 3px;
  }

  .nav-mobile-menu span:nth-child(2) {
    top: 7px;
  }

  .nav-mobile-menu span:nth-child(3) {
    bottom: 3px;
  }

  .nav-mobile-menu.active-menu span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }

  .nav-mobile-menu.active-menu span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
  }

  .nav-mobile-menu.active-menu span:nth-child(3) {
    transform: scale(0);
  }

  .navigation {
    position: fixed;
    width: 280px;
    max-width: 280px;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translate(150%);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease-in-out;
  }

  .navigation.active-menu {
    opacity: 1;
    visibility: visible;
    top: 0;
    width: 250px;
    z-index: 1;
    transform: translateX(0);
    flex-direction: column;
    background-color: #1d2126;
  }

  .nav-mobile {
    display: flex;
    justify-content: flex-end;
  }

  .active-menu {
  }
}

/* laptop - md - */
@media (min-width: 992px) {
}

/* desktop - lg - */
@media (min-width: 1200px) {
}
