section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.top-space {
  margin-top: 40px;
}

/* Slider section */
.slider {
  background: url(images/slider1.png) no-repeat center;
  background-size: cover;
  height: 460px;
  display: flex;
  align-items: center;
}

/* About section */

.about {
  border-bottom: 2px solid #dde1e4;
}

.about-row {
  display: flex;
  align-items: flex-start;
}

.about-row {
  display: flex;
  align-items: flex-start;
}

.social-media-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}

.social-media-box div {
  width: 60px;
  height: 60px;
  background-color: #c8cdd0;
  background-position: center;
  margin: 1px;
}

.social-media-box div:hover {
  background-color: #d0d5d9;
  cursor: pointer;
}

.facebook {
  background-image: url(images/facebook.png);
}

.twitter {
  background-image: url(images/tweeter.png);
}

.google {
  background-image: url(images/google.png);
}

.dribble {
  background-image: url(images/dribble.png);
}

.behance {
  background-image: url(images/behance.png);
}

.number-block {
  display: flex;
  margin-top: 20px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  max-height: 50px;
  max-width: 50px;
  background-color: #23b7a4;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.hidden-xs {
  display: none;
}

/* Team */
.team-main-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
}

.team-box:hover .overflow {
  display: block;
  cursor: pointer;
}

.team-box:hover .team-social-media {
  display: flex;
}

.team-box:hover .team-text-box {
  background-color: #3a454d;
  cursor: pointer;
}

.team-box:hover .name {
  color: #ffffff;
}

.team-box:hover .job {
  color: #ffffff;
}

.img-block {
  position: relative;
}

.overflow {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
}

.team-social-media {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;
}

.team-social-media div {
  margin: 1px;
  background-color: #3a454d;
  width: 50px;
  height: 50px;
}

.team-social-media div:hover {
  background-color: #4e5a62;
}

.team-twitter {
  background: url(images/tweeter2.png) no-repeat center;
}

.team-facebook {
  background: url(images/facebook2.png) no-repeat center;
}

.team-linkedin {
  background: url(images/linkedin.png) no-repeat center;
}

.team-text-box {
  padding: 20px 27px;
  background-color: #e1e6ea;
}
.name {
  font-family: "Quattrocento Sans", sans-serif;
  color: #292f36;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px 0;
}

.job {
  font-size: 14px;
  margin: 5px 0;
}

/* Work */
.work,
.features,
.footer {
  background-color: #3a454d;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}

.work-item {
  position: relative;
}

.work-item:hover .work-item-overlay-box {
  display: block;
  cursor: pointer;
}

.work-item-overlay-box {
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}

.work-item-img {
  width: 100%;
  overflow: hidden;
}

.work-item-overlay {
  background-color: rgba(78, 90, 98, 0.5);
  background-image: url(images/plus.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 205px;
}

.work-description {
  width: 100%;
  height: 60px;
  background-color: #292f36;
  padding: 25px 20px;
}

.work-btn-section {
  display: flex;
  justify-content: flex-start;
}

/* Services */
.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.setup-icon,
.pixel-icon,
.responsive-icon,
.support-icon {
  height: 50px;
  width: 100%;
  margin: 25px 0;
}

.setup-icon {
  background: url(images/settings.png) no-repeat center;
}

.pixel-icon {
  background: url(images/pen.png) no-repeat center;
}

.responsive-icon {
  background: url(images/mobile.png) no-repeat center;
}

.support-icon {
  background: url(images/watch.png) no-repeat center;
}

.service-text {
  text-align: center;
}

/* Features */
.features-img {
  width: 100%;
}
.features-description {
  color: #dcdfe1;
  margin-top: 55px;
}

.features-description h4 {
  color: #dcdfe1;
}

/* Contact */
.contact-h2 {
  margin-bottom: 0;
}

/* Footer */
.footer {
  background-color: #3a454d;
  padding-top: 45px;
  padding-bottom: 45px;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-text {
  display: flex;
  justify-content: center;
  order: 2;
  color: #ffffff;
  font-size: 14px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  order: 1;
  margin-bottom: 30px;
}

.footer-twitter,
.footer-facebook,
.footer-skype,
.footer-behance,
.footer-linkedin {
  margin: 0 7px;
  width: 26px;
  height: 21px;
  cursor: pointer;
}

.footer-twitter {
  background: url(images/tweeter.png) no-repeat center;
}

.footer-facebook {
  background: url(images/facebook.png) no-repeat center;
}

.footer-skype {
  background: url(images/skype.png) no-repeat center;
}

.footer-behance {
  background: url(images/behance.png) no-repeat center;
}

.footer-linkedin {
  background: url(images/linkedin.png) no-repeat center;
}

/* tablet - sm - */
@media (min-width: 768px) {
  section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

/* laptop - md - */
@media (min-width: 992px) {
  .top-space {
    margin-top: 0px;
  }

  .hidden-desktop {
    display: none;
  }

  .hidden-xs {
    display: flex;
  }

  .service-box {
    margin: 45px 0;
  }

  .footer-text {
    justify-content: flex-start;
    order: 1;
  }

  .footer-icons {
    justify-content: flex-end;
    order: 2;
    margin-bottom: 0px;
  }
}

/* desktop - lg - */
@media (min-width: 1200px) {
  .slider {
    height: 660px;
  }

  .work-btn-section {
    justify-content: center;
  }

  .gallery {
    margin-bottom: 60px;
  }
} ;
